html {
	background-color: black;
	padding: 1em;
}

.inner-circle {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: white;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	font-size: 40vh;
	width: 50vh;
	height: 50vh;
	border-radius: 50%;
}

.question-input {
	color: white;
	font-size: 5vh;
	outline: none;
	border: none;
	border-bottom: 1px solid white;
	background-color: inherit;
	margin-right: 0;
	padding-left: .5em;
}

.question-submit {
	font-size: 5vh;
	padding-left: 1em;
	padding-right: .5em;
	background-color: white;
	border: none;
	border-bottom: 1px solid white;
	-webkit-border-radius: 10px 10px 10px 0;
	border-radius: 10px 10px 10px 0;
	-webkit-clip-path: polygon(25% 0, 100% 0, 100% 100%, 0% 100%);
	clip-path: polygon(25% 0, 100% 0, 100% 100%, 0% 100%);
}
